.video-background {
	position: absolute;
	z-index: -999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-background video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -998;
	top: 0;
	left: 0;
}

.image {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
  	border: none;
	top: 0;
	left: 0;
}

.block {
	display: block;
 	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
  	border: none;
  	background-color: transparent;
  	cursor: pointer;
}
.block:focus {
    outline:0;
}